body {
	background-color: #B0E0E6;
}
.cabecalho{
	/*background-color: #f0f;*/
}
.cabecalho-titulo{
	color: #4682B4;
}
.cabecalho-img{
	width: 300px;
}
.container-section{
	color: #48D1CC;
}
.containerSection-img{
	width: 400px;
}